body {
    font-size: 100%;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
}

.dark-text {
    color: #1f2937;
}

/* used for titles */
.light-text-1 {
    color: #f9faf8;
}

/* used for smaller text */
.light-text-2 {
    color: #e5e7eb;
}

.header {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 15% 30px 15%;
    gap: 20px;
}

.header-item {
    margin: 0;
}

.header-logo {
    font-size: 24px;
    font-weight: bolder;
    margin-right: auto;
}

.sub-text {
    font-size: 18px;
}

.section1 {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 100px 15%;
}

.sec1-container-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.sec1-left-top {
    font-size: 48px;
    font-weight: 900;
}

.sec1-left-bottom {
    font-size: 18px;
    font-weight: bold;
    background-color: #3882f6;
    border-radius: 5px;
    padding: 5px 25px;
}

.sec1-container-right {
    display: flex;
    background-color: dimgray;
    height: stretch;
    width: stretch;
    justify-content: center;
    align-items: center;
}

.section2 {
    background-color: white;
}

.sec2-title {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    padding: 30px 0px;
}

.sec2-images-container {
    padding: 10px 20%;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
}

.sec2-image-item-container {
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec2-image-item {
    height: 150px;
    width: 150px;
    border: #3882f6 solid 4px;
    border-radius: 15px;
}

.sec2-image-item-caption {
    padding-top: 5px;
    text-align: center;
    color: dimgray;
    font-size: 16;
    font-weight: 600;
    line-height: 1;
}

.section3 {
    background-color: #e5e7eb;
    padding: 100px 20%;
    justify-content: center;
}

.sec3-quote-container {
    display: flex;
    flex-direction: column;
}

.sec3-quote-top {
    font-size: 36px;
    font-style: italic;
    font-weight: 350;
    line-height: 1;
}

.sec3-quote-bottom {
    font-size: 24px;
    font-weight: bold;
    text-align: end;
}

.section4 {
    padding: 10px;
    background-color: white;
}

.sec4-container {
    background-color: #3882f6;
    display: flex;
}

.sec4-con-left {
    display: flex;
    flex-direction: column;
}

.sec4-con-left-top {
    font-size: 24px;
    font-weight: bolder;
}

.sec4-con-right {
    border: white solid 2px;
}

.footer {
    background-color: #1f2937;
    font-size: 14px;
}