body {
    font-size: 100%;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    background-color: #1f2937;
    display: flex;
    padding: 0;
}

.header-item {
    flex: 1;
    margin: 0;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.sub-text {
    font-size: 18px;
    color: #e5e7eb;
}

.section1 {
    background-color: #1f2937;
    display: flex;
}

.sec1-container-left {
    display: flex;
    flex-direction: column;
}

.sec1-left-top {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.sec1-left-bottom {
    font-size: 18px;
    color: #e5e7eb;
    background-color: #3882f6;
}

.sec1-container-right {
    background-color: dimgray;
}

.section2 {
    background-color: white;
}

.sec2-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.sec2-images-container {
    display: flex;
}

.sec2-image-item-container {
    display: flex;
    flex-direction: column;
}

.sec2-image-item {
    height: 300px;
    width: 300px;
    border: #3882f6 solid 2px;
}

.sec2-image-item-caption {
    font-size: 14px;
    color: #1f2937;
}

.section3 {
    background-color: #e5e7eb;
}

.sec3-quote-container {
    display: flex;
    flex-direction: column;
}

.sec3-quote-top {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
}

.sec3-quote-bottom {
    font-size: 18px;
    color: #1f2937;
    font-weight: bold;
}